<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <div
      class="w-full min-h-screen flex bg-zinc-100 items-start gap-4 px-20 py-10"
    >
      <div
        class="w-[25%] h-screen flex bg-white p-4 rounded-md shadow flex-col items-start"
      >
        <div class="flex items-center gap-2">
          <h3>sort by</h3>
          <form action="/shop">
            <select class="border-[1px] px-2 py-1" name="sortby" id="">
              <option value="popular">Popular</option>
              <option value="newest">Newest</option>
            </select>
          </form>
        </div>
        <div class="flex flex-col mt-20">
          <a
            class="block w-fit mb-2 hover:underline"
            href="/shop/collection?new=true"
            >New Collection</a
          >
          <a class="block w-fit mb-2 hover:underline" href="/shop"
            >All Products</a
          >
          <a
            class="block w-fit mb-2 hover:underline"
            href="/shop/collection?discount=true"
            >Discounted Products</a
          >
        </div>
        <div class="mt-32">
          <p class="mb-3 font-semibold">Filter by :</p>

          <a
            class="block w-fit mb-2 hover:underline"
            href="/shop/collection?availability=true"
          >
            Availability
          </a>

          <a
            class="block w-fit mb-2 hover:underline"
            href="/shop/collection?discount=true&sort=discount"
          >
            Discount
          </a>
        </div>
      </div>
      <div class="w-[75%] h-screen flex flex-col gap-5">
        <div class="grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-6">
          <% Products.forEach(function(product){ %>
          <div class="relative">
            <% let isNew = (new Date() - new Date(product.createdAt)) < (7 * 24
            * 60 * 60 * 1000); %> <% if (product.discount > 0) { %>
            <!-- 🔴 Show Discount ONLY -->
            <span
              class="absolute top-0 text-xs bg-red-500 text-white px-2 py-1 rounded"
            >
              <%= product.discount %>% OFF
            </span>

            <% } else if (isNew) { %>
            <!-- 🟢 Show NEW only if NO discount -->
            <span
              class="absolute top-0 text-xs bg-green-500 text-white px-2 py-1 rounded"
            >
              NEW
            </span>

            <% } %>
            <div
              class="w-full h-52 flex items-center justify-center bg-[<%= product.bgColor %>]"
            >
              <img
                class="h-[12rem]"
                src="/uploads/<%= product.image %>"
                alt="product image"
              />
            </div>
            <div
              class="flex justify-between items-center px-4 py-4 bg-[<%= product.panelColor %>] text-[<%= product.textColor %>]"
            >
              <div>
                <h3><%= product.name %></h3>
                <h4>₹<%= product.price %></h4>
              </div>
              <form
                class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
                action="/addtocart/<%= product._id %>"
                method="post"
              >
                <button><i class="ri-add-line"></i></button>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
